<div id="modal" class="hide">
    <div class="content">
        <h1>Nova ideia</h1>

        <form action="">

            <div class="input-wrapper">
                <label for="title">titulo da ideia</label>
                <input type="text" name="title">
            </div>

            <div class="input-wrapper">
                <label for="category">categoria</label>
                <input type="text" name="category">
            </div>

            <div class="input-wrapper">
                <label for="image">Link da imagem</label>
                <input type="url" name="image">
            </div>

            <div class="input-wrapper">
                <label for="description">digite uma descrição para esta ideia</label>
                <textarea name="description" cols="30" rows="10"></textarea>
            </div>

            <div class="input-wrapper">
                <label for="link">Link da ideia</label>
                <input type="url" name="link">
            </div>

            <a href="#" onclick="onOff()">Voltar</a>
            <button>Salvar</button>


        </form>
    </div>
</div>